* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

html,
body {
    width: 100%;
    height: 100%;
    background: #f2f2f2;
}

.wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.wrap .top {
    width: 100%;
    height: 90px;
    background: white;
    display: flex;
}

.top span {
    flex: 1;
    text-align: center;
    line-height: 90px;
}

.top span.active {
    color: blue;
    border-bottom: 2px solid blue;
}

.wrap .cont {
    width: 100%;
    background: white;
    margin-top: 15px;
}

.cont div {
    width: 95%;
    height: 300px;
    background: white;
    box-shadow: #ccc 5px 5px 5px;
    margin: 15px 2%;
    display: none;
}

.cont div.active {
    display: block;
}